@charset "utf-8";

.front_body{}

.page_wrap{
    min-width:280px; overflow-x:hidden; min-height:100vh; box-sizing: border-box; width:720px;margin:0 auto; position:relative;display:flex;flex-direction: column;
}
.page_wrap:before, 
.page_wrap:after{display:block;content:''; position:absolute;top:0;height:100%; background:#fff;width:100vw;z-index:50;}
.page_wrap:before{left:100%;}
.page_wrap:after{right:100%;}

.header_wrap{height:57px;flex:0 0 57px;padding:0 8px 0 24px;position:relative;z-index:20;box-sizing: border-box; border-bottom:1px solid #d7d5d5;background:#fff; display:flex;align-items: center; justify-content:space-between;}

.header_toplogo{width:68px;height:33px;font-size:0;line-height:0;}
.toplogo_item{display:inline-block;}
.toplogo_item img{vertical-align: middle;}
.btn_header_menu{display:flex;width:57px;height:57px;justify-content: center; align-items: center;gap:4px;flex-direction: column;}
.btn_header_menu_inner{width:22px;height:2px; background:#212121;}
.btn_header_menu:before,
.btn_header_menu:after{display:block;content:'';width:22px;height:2px; background:#212121;}
.btn_header_menu:before{}
.btn_header_menu:after{}
.nav_layer:before{display:block;content:'';width:720px;height:calc(100% - 57px);background:#231815;position:fixed;top:57px;left:50%;opacity:.2;transform: translateX(-50%);}
.nav_layer{position:absolute;top:57px;left:0;width:100%;display:none;}
.nav_layer.active{display:block;}
.nav_contents{position:relative;background:#fff;z-index:2;}
.nav_log_row{display:flex;padding:23px 24px;justify-content: space-between; gap:20px; align-items: center;background:#f8f9f9;border-bottom:1px solid #f1f0f0;}
.log_current{font-size:18px;display:inline-block;line-height:1;color:#212121;}
.btn_log_group{}
.btn_log{font-size:18px;display:inline-block;line-height:1;color:#212121;position:relative;}
.btn_log:after{display:block;content:'';width:calc(100% + 30px);height:calc(100% + 30px);position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}
.nav_menu_row{text-align: center;}
.nav_menu_list{}
.nav_menu_list > li{}
.nav_menu_list > li:last-of-type{}
.nav_menu{font-size:18px;display:block;line-height:1;color:#212121;padding:20px;}
.middle_wrap{flex:1;min-height:0;}
.middle_wrap.type2{display:flex;justify-content: center;align-items: center;}

.single_form_logo_row{}
.single_form_logo{text-align: center;}
.single_form_logo img{max-width:130px;vertical-align: top;}

.single_form_field_row{border:2px solid #d3d4d3;position:relative;margin-top:35px;}
.single_legend_wrap{position:absolute;top:0;left:0;width:100%;transform: translateY(-50%);text-align: center;}
.single_legend_para{font-size:20px;display:inline-block;background:#fff;color:#212121;line-height:1;padding:0 40px;font-weight:700;}
.single_form_field{padding:30px 14px;}

.middle_singlie_wrap{width:100%;box-sizing: border-box;padding:24px;}
.middle_single_title{text-align: center;color:#212121;font-size:28px; font-weight:700;}
.middle_single_content{margin-top:40px;}
.middle_single_content .single_form_field_row{}

.choice_box_list{}
.choice_box_list > li{}
.choice_box_list > li:last-of-type{}
.choice_box{}
.choice_box.type2{}
.choice_box.type2 .choice_box_text{}
.choice_box_text{}

.btn_bottom_layer{display:block;position:fixed;bottom:0;left:50%;z-index:10;transform:translate(-50%);width:720px;box-sizing: border-box;height:0;display:flex;justify-content: end; align-items: flex-end;}
.btn_topgo{display:block;width:40px;height:40px;background:#ffffff url("../images/ico_topgo.png") no-repeat 50% 50%/25px auto; border-radius: 100%;position:absolute;bottom:24px;right:24px;}
.footer_wrap{flex:0;background:#efeeed;padding:20px 80px 20px 24px;}
.footer_inner{}
.footer_address{font-size:11px;color:#777878;line-height:1.6}
.footer_menu_list{display:flex;flex-wrap:wrap;gap:10px;}
.footer_menu_list > li{}
.footer_menu{color:#000000;font-size:11px;}

.middle_title_row{margin-top:42px;text-align: center;}
.middle_title{color:#212121;font-size:28px;font-weight:700;}
.middle_contents{margin-top:40px;}

.search_field_zone{}
.search_field_wrap{}
.search_field_short_cols{}
.search_field_long_cols{}
.search_field_long_cols input.form_input{}
.combo_item_group{}
.combo_item_target{}
.combo_option_list_wrap{}
.combo_option_list{}
.combo_option_list > li{}
.combo_option_list > li:last-of-type{}
.combo_option{}
.search_field_zone{}
input.form_input{}
.serach_btn_wrap{}
.serach_btn_wrap{}
.btn_submit_box{}
.btn_control_box_group{}
.btn_control_box{}

.single_for_row{}
.single_for_row input.form_input{}
.single_for_row:last-of-type{}
.btn_single_submit_box{}
.btn_single_submit_text{}
.section_title_row{}
.section_title{}


/* 공통 popup */
.popup_wrap{position:fixed;top:0;left:50%;transform:translate(-50%);width:720px;height:100%;z-index:100000;display:none;align-items: center;justify-content: center;min-width:280px;overflow:hidden;flex-wrap:wrap;
}
.popup_wrap.active{display:flex;
}
.popup_wrap.motion_end{
}
.popup_wrap.motion_end .popup_modal_box,
.popup_wrap.motion_end .popup_item{opacity:1;transform: translateY(0);}
.popup_wrap.motion_end .bg_dim{opacity:.25;}

.popup_modal_box_zone{top:0;left:0;width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;overflow-y:auto;}
.popup_modal_box_wrap{display:table;table-layout: fixed;top:0;left:0;width:100%;height:100%;position:absolute;}
.popup_modal_box_inner{display:table-cell;vertical-align: middle;padding:40px;}
.popup_modal_box{margin:0 auto;background:#fff;opacity:0;transition:.4s; display:flex;flex-direction: column;}


.bg_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:0;background:#2c3035;opacity:0;transition:.4s;}
.popup_modal_title_row{padding:24px 80px;box-sizing: border-box;display:flex;align-items: center;justify-content: center;min-height:80px;text-align: center;}
.popup_modal_title{font-size:30px;color:#212121;line-height:1;font-weight:700;}

.popup_modal_contents{padding:0 24px 24px;}

.btn_popup_close{position:absolute;top:0;right:0;width:80px;height:80px;}

.btn_popup_close:before,
.btn_popup_close:after{display:block;content:'';width:30px; height:2px; background:#000; position:absolute;top:50%;left:50%;margin:-1px 0 0 -15px;}

.btn_popup_close:before{transform: rotate(45deg);}
.btn_popup_close:after{transform: rotate(-45deg);}


@media (max-width:720px){
    .page_wrap{width:auto;}
    .page_wrap:before, 
    .page_wrap:after{display:none}

    .nav_layer:before{width:100%;transform: none;left:0;}

    .btn_bottom_layer{left:0;transform: none;}
}


/* sub */
.board_util_row{}
.board_util_cols{}
.board_util_cols:last-of-type{}
.board_count_group{}
.current_textbox_list{}
.current_textbox_list > li{}
.current_textbox_list > li:last-of-type{}
.current_textbox{}
.current_textbox_bullet{}
.current_textbox_para{}
.board_table_wrap{}
.board_table{}
.board_table thead tr{}
.board_table thead tr th{}
.board_table thead tr th:last-of-type{}
.board_table tbody tr{}
.board_table tbody tr td{}
.board_table tbody tr td:last-of-type{}